@charset "UTF-8";

@font-face {
    font-family: 'Analogue';
    src: url(/home/assets/fonts/Analogue35Thin.ttf) format('truetype');
}

:root {
    --cor0: #a77253f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: Helvetica, sans-serif;
    background: #F5F5F7;
}

/*Header*/

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 4px #b48b7459;
}

.cabecalho-imagem {
    height: 100px;
}

.cabecalho-navegacao {
    display: flex;
    gap: 32px;
}

.cabecalho-item {
    color: #b48b74;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 16px;
    transition: 0.5s;
}

.cabecalho-item:hover {
    color: #e79e74;
}

.conteudo {
  margin-top: 100px;
  padding: 15px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.conteudo-principal-escrito {
    width: 1030px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.conteudo-principal-titulo {
    text-align: center;
    margin: -100px 0px 100px 0px;
    color: #7e8a9c;
    font-family: Analogue;
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 2px;
}

.conteudo-principal-subtitulo {
    background-color: var(--cor0);
    padding: 10px;
    color: #F5F5F7;
}

.conteudo-principal-imagem {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    border-radius: 50%;
}

.conteudo-principal-paragrafo {
    font-size: 14px;
    color: #6b7179;
}

.conteudo-principal-botao {
    background-color: #a57446;
    color: #F5F5F7;
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}

.conteudo-principal-botao:hover {
    background-color: #d3a286;
}