*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #F5F5F7;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

}

nav a{
    margin-right: 20px;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: row;
    
}
header h1{
    min-width: 300px;
    width: 50%;
    margin: 200px 0px 200px 0px;
    text-align: center;
}

.sectionArticle{
    min-width: 300px;
    padding: 10px;
    width: 50%;
    margin: auto;
    text-align: justify;
}

article h2{
    padding-bottom: 50px;
}

aside p{
    padding-bottom: 50px;
}

.sectionImg{
    display: flex;
    background-color: pink;
    text-align: center;
    margin: auto;
    width: 50%;
    
}
.img{
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}
section img{

}

section a{
    text-decoration: none;
}

