@charset "UTF-8";

@font-face {
    font-family: 'Analogue';
    src: url(/sobre/assets/fonts/Analogue35Thin.ttf) format('truetype');
}

:root {
    --cor0: #a77253f8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    background: #F5F5F7;
}

.container-1 {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 4px #b48b7459;
}

.link {
    text-decoration: none;
    color: #b48b74;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.199);
    transition: 0.5s;
}

.link:hover {
    color: #e79e74;
}

div {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 18vh;
}

.container-2 {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--cor0);
}

.bloco-1{
    max-width: 400px;
    width: 33vw;
    padding: 10px;
    border-radius: 10px;
}

.titulo {
    letter-spacing: 0.2em;
    font-family: Analogue;
    padding: 10px;
    font-size: 1.5em;
    font-weight: lighter;
    color: #7e8a9c;
}

.conteudo {
    color: #F5F5F7;
    text-align: justify;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
}

.bloco-2{
    width: 20vw;
    height: 40vh;
}

.bloco-3{
    max-width: 400px;
    width: 33vw;
    padding: 10px;
    border-radius: 10px;
}