@charset "UTF-8";

@font-face {
    font-family: 'Analogue';
    src: url(/sobre/assets/fonts/Analogue35Thin.ttf) format('truetype');
}

:root {
    --cor0: #a77253f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: Helvetica, sans-serif;
    background: #F5F5F7;
}

/*Header*/

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 4px #b48b7459;
}

.cabecalho-imagem {
    height: 100px;
}

.cabecalho-navegacao {
    display: flex;
    gap: 32px;
}

.cabecalho-item {
    color: #b48b74;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 16px;
    transition: 0.5s;
}

.cabecalho-item:hover {
    color: #e79e74;
}

/* Main */

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url(../img/contato.png) center center/cover no-repeat fixed;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    width: 400px;
    padding: 20px;
}

.conteudo-principal-escrito-titulo {
    margin-top: -100px;
    color: #7e8a9c;
    font-family: Analogue;
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 2px;
}

.conteudo-principal-escrito-subtitulo {
    color: #F5F5F7;
    font-family: Analogue;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
}

.conteudo-principal-escrito-paragrafo {
    color: #F5F5F7;
    letter-spacing: 1px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.226);
    text-align: justify;
}